ion-slides {
    height: 100%;
}

.core-slide-1 {
    height: 100%;
    background-color: red;
}

.core-slide-2 {
    height: 100%;
    background-color: purple;
}

.core-slide-3 {
    height: 100%;
    background-color: blue;
}