<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="core-slide-1">
          <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide class="core-slide-2">
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide class="core-slide-3">
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>
</ion-content>
