<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/_ionicons_svg_ios-person.svg">
      </ion-avatar>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary">
    <ion-avatar>
      <img src="assets/_ionicons_svg_ios-person.svg">
    </ion-avatar>
    <ion-label>chip 1</ion-label>
  </ion-chip>
 

</ion-content>
